@media (max-width: 768px) {
    .info h1 {
        font-size: 30px;
    }
    .row {
        margin: 0;
    }
    .header_navbar {
        display: none;
    }
    .burger-icon {
        display: flex;
    }
    .row-adaptive {
        flex-direction: column;
    }
    .iconbox-container {
        max-width: 100%;
    }
}